#
# This is the config file, and
# a '#' or ';' character indicates
# a comment
#

[pack]
	packSizeLimit = 2g
[help]
	format = html
	autocorrect = 1
[http]
	sslCAinfo = /bin/curl-ca-bundle.crt
[sendemail]
	smtpserver = /bin/msmtp.exe
[gui]
	encoding = utf-8
[i18n]
	commitEncoding = GB2312
	#logOutputEncoding = gbk
	#commitEncoding = gbk
	#logOutputEncoding = utf-8
	#commitEncoding = utf-8

#Note Defaule mergetool and difftool ---> vimdiff
#Define Three tools for merge and diff-->kdiff3/p3merge/WinMergeU

#[merge]
#        tool = kdiff3
#[mergetool "kdiff3"]
#        path = /c/Program Files/KDiff3/kdiff3.exe
#[diff]
#        tool = kdiff3
#[difftool "kdiff3"]
#        path = /c/Program Files/KDiff3/kdiff3.exe

[merge]
        tool = p4merge
[mergetool "p4merge"]
        path = /c/Program Files/Perforce/p4merge.exe
[diff]
        tool = p4merge
[difftool "p4merge"]
        path = /c/Program Files/Perforce/p4merge.exe

#[merge]
#        tool = WinMergeU
#[mergetool "kdiff3"]
#        path = /c/Program Files/WinMerge/WinMergeU.exe
#[diff]
#        tool = WinMergeU
#[difftool "kdiff3"]
#        path = /c/Program Files/WinMerge/WinMergeU.exe

#commit.template ~/test.txt -->temp for commit
#[commit]
#	template = ~/test.txt

[core]
        excludesfile = /c/Documents and Settings/user/.gitignore
		symlinks = false
		autocrlf = true
		
		quotepath = false #add by ds_jin for UTF-8 Chaniese
#	pager = less ;default = less
[color]
        ui = true ;false always true-->defaule color option
		diff = auto
        status = auto
        branch = auto
		interactive = auto
[user]
        name = ds_jin
        email = ds_jin@realsil.com.cn
[alias]
        co = checkout
        ci = commit -m
        cia = commit -am
        cis = commit -sm
        cias = commit -asm
        st = status
        br = branch
        oneline = log --pretty=oneline --since='2 days ago'
        onelog = log -p -1
        go = "! bash -c \"git pull;git add .;if [ \\\"$*\\\" == \\\"\\\" ];then git commit -a;else git commit -avm \\\"$*\\\";fi;git push origin master:xxx;\""
	go = "! bash -c \"git pull;git add .;git commit -am \\\"$COMPUTERNAME,$USERNAME,$PWD,`date +%y/%m/%d-%H/%M/%S`\\\";git push origin master\""
        go-message = "! bash -c \"git pull;git add .;git commit -a;git push origin master\""

	go-non-net = "! bash -c \"git add .;git commit -am \\\"$COMPUTERNAME,$USERNAME,$PWD,`date +%y/%m/%d-%H/%M/%S`\\\"\""
	go-non-net-message = "! bash -c \"git add .;git commit -a\""
	lpo = log --pretty=oneline



