##############ignore define for project by dsjin 030262010
*~
*.log
*.log_*
*_log_*
*.log.*
*.swp
.*
###############################
*.tar
*.gz
*.bz2
*.rar
*.tgz
*.zip
###############################
!.gitignore
!.gitconfig
###############################
!.bashrc_win
!.bashrc_linux
###############################
*.htm
###############################
!.vimrc_win
!.vimrc_linux
###############################
*.bak
*.BAK
*.bk
*.BK
###############################
*.vco
###############################
*.exe
*.msi
*.htm
###############################
*.avi
*.mov
*.mp3
*.mp4
*.rmvb
*.vcd
*.dvd
*.rm
*.ram
*.rpm
*.mov
###############################
