##############ignore define for project by dsjin 030262010
*~
*.log
*.log_*
*_log_*
*.log.*
*.swp
.*
###############################
*.tar
*.gz
*.bz2
###############################

!.gitignore
!.gitconfig

!.bashrc_win
!.bashrc_linux

*.htm

!.vimrc_win
!.vimrc_linux

*.bak
*.BAK
*.bk
*.BK


